openapi: 3.1.0
info:
  title: U.S. Election Assistance Commission Content JSON:API
  version: '1.0'
  summary: Anonymous, read-only JSON:API 1.0 over the EAC's public content estate at www.eac.gov — voting
    system certifications, test labs, manufacturers, NVRA state pages, HAVA grant financials and the Clearinghouse
    Awards.
  description: 'The U.S. Election Assistance Commission publishes no developer portal and no OpenAPI description.
    It does, however, serve a live, entirely anonymous, standards-conformant JSON:API 1.0 surface at https://www.eac.gov/jsonapi,
    generated by Drupal 10 (the `x-generator` response header says so) and hosted on Acquia behind Cloudflare.


    THIS DOCUMENT IS DERIVED BY API EVANGELIST FROM LIVE PROBES, NOT PUBLISHED BY THE EAC. Every path
    below corresponds to a `links` entry in the resource-type index document fetched from https://www.eac.gov/jsonapi
    on 2026-09-06, and every path in this document was individually requested anonymously on that date
    and returned HTTP 200 with `content-type: application/vnd.api+json` AND at least one resource object.
    Resource types the index advertises but which returned an empty `data` array, or which Drupal omitted
    for insufficient authorisation, are recorded in `x-probe.excluded` rather than described here.


    THE SURFACE IS READ-ONLY BY CONFIGURATION. An anonymous `POST /jsonapi/node/article` on 2026-09-06
    returned HTTP 405 with the JSON:API error detail "JSON:API is configured to accept only read operations."
    No write, create, update or delete operation exists on this surface for any caller, credentialed or
    not, so this document describes GET only.


    WHAT IT EXPOSES that is of public interest: the EAC''s voting system certification programme (117
    certified/withdrawn voting systems, 20 registered manufacturers, 8 accredited Voting System Test Laboratories,
    5 testing standards, 275 engineering change orders, 27 Notices of Clarification), the National Voter
    Registration Act state pages (155), state election information and online-voter-registration status
    (113), state voter registration deadlines and lookup links (56), HAVA Election Security and state
    grant financial reporting (56 + 56), 561 Clearinghouse Award entries, 495 news articles and 378 FAQs,
    plus the taxonomies behind them.


    WHAT IT DOES NOT EXPOSE: the Election Administration and Voting Survey (EAVS) microdata. EAVS is distributed
    as bulk CSV/Excel/SPSS/Stata/SAS downloads catalogued in https://www.eac.gov/data.json (Project Open
    Data v1.1), not through this API. `node--jurisdiction_data`, `paragraph--eavs_data` and `taxonomy_term--eavs_states`
    are advertised by the index but return empty collections.'
  contact:
    name: U.S. Election Assistance Commission
    url: https://www.eac.gov/contact
  license:
    name: U.S. Government Work — generally public domain under 17 U.S.C. 105
    url: https://www.eac.gov/main/privacy-statement
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://www.eac.gov/jsonapi
  x-derived-on: '2026-09-06'
  x-publisher-provided: false
servers:
- url: https://www.eac.gov/jsonapi
  description: Production JSON:API entry point. Public, anonymous, read-only.
security: []
x-provenance:
  generated: '2026-09-06'
  method: probed
  source: https://www.eac.gov/jsonapi
  author: API Evangelist
x-probe:
  fetched: '2026-09-06'
  index:
    url: https://www.eac.gov/jsonapi
    http_status: 200
    content_type: application/vnd.api+json
    resource_types_advertised: 215
  described: 86
  excluded:
    empty_collection:
    - ai_file--ai_file
    - ai_guardrail--ai_guardrail
    - ai_guardrail_set--ai_guardrail_set
    - ai_prompt--ai_prompt
    - ai_prompt_type--ai_prompt_type
    - comment--comment
    - facets_summary--facets_summary
    - feeds_feed--cares_grants
    - feeds_feed--engineering_change_orders
    - feeds_feed--register_vote_and_contact_state
    - feeds_feed--state_requirement_payments
    - feeds_subscription--feeds_subscription
    - flagging--following
    - key_config_override--key_config_override
    - media--galleries
    - media_bulk_config--media_bulk_config
    - node--jurisdiction_data
    - paragraph--eavs_data
    - paragraph--poll_worker_information
    - paragraph--voting_policies_information
    - paragraph--voting_technology_information
    - search_api_task--search_api_task
    - taxonomy_term--ai_tones
    - taxonomy_term--eavs_states
    - taxonomy_term--galleries
    - taxonomy_term--media_directories
    - taxonomy_term--program_type
    - taxonomy_term--quick_tips
    - taxonomy_term--subscribers
    - taxonomy_term--tags
    - taxonomy_term--test
    - taxonomy_term--uswds_classes
    - vote--reaction_10_yes
    - vote--reaction_20_somewhat
    - vote--reaction_30_no
    - vote--vote
    - vote_result--vote_result
    - webform_submission--2022_national_clearinghouse_awar
    - webform_submission--2023_national_clearinghouse_awar
    - webform_submission--bloggers_contact_form
    - webform_submission--clearie_submission_form
    - webform_submission--contact
    - webform_submission--contact_us
    - webform_submission--demo_webform
    - webform_submission--e_alert
    - webform_submission--faq
    - webform_submission--sign_up_for_eac_updates
    - webform_submission--sign_up_for_the_eac_newsletter
    - webform_submission--sponsors_form
    - webform_submission--staff_contact
    - webform_submission--template_contact
    - webform_submission--template_employee_evaluation
    - webform_submission--template_feedback
    - webform_submission--template_issue
    - webform_submission--template_job_application
    - webform_submission--template_job_seeker_profile
    - webform_submission--template_registration
    - webform_submission--template_session_evaluation
    - webform_submission--template_subscribe
    - webform_submission--template_user_profile
    - webform_submission--vulnerability_disclosure_policy
    omitted_insufficient_authorization:
    - action--action
    - base_field_override--base_field_override
    - behavior_settings--behavior_settings
    - block_content_type--block_content_type
    - captcha_point--captcha_point
    - comment_type--comment_type
    - config_split--config_split
    - configurable_language--configurable_language
    - crop--focal_point
    - crop_type--crop_type
    - editor--editor
    - embed_button--embed_button
    - entity_browser--entity_browser
    - entity_form_display--entity_form_display
    - entity_form_mode--entity_form_mode
    - entity_view_display--entity_view_display
    - entity_view_mode--entity_view_mode
    - facets_facet--facets_facet
    - facets_facet_source--facets_facet_source
    - feeds_feed--es_funds
    - feeds_feed--notice_of_clarification
    - feeds_feed_type--feeds_feed_type
    - field_config--field_config
    - field_storage_config--field_storage_config
    - filter_format--filter_format
    - flag--flag
    - flexslider--flexslider
    - google_tag_container--google_tag_container
    - image_style--image_style
    - imce_profile--imce_profile
    - key--key
    - language_content_settings--language_content_settings
    - linkit_profile--linkit_profile
    - media--archive
    - menu_link_content--menu_link_content
    - metatag_defaults--metatag_defaults
    - node--person
    - node--slideshow_slide
    - node--state_payment_requirements
    - path_alias--path_alias
    - pathauto_pattern--pathauto_pattern
    - rdf_mapping--rdf_mapping
    - redirect--redirect
    - responsive_image_style--responsive_image_style
    - rest_resource_config--rest_resource_config
    - search_api_index--search_api_index
    - search_api_server--search_api_server
    - shortcut--default
    - shortcut_set--shortcut_set
    - simple_sitemap--simple_sitemap
    - simple_sitemap_type--simple_sitemap_type
    - sitewide_alert--sitewide_alert
    - slick--slick
    - taxonomy_term--uswds_breakpoints
    - taxonomy_vocabulary--taxonomy_vocabulary
    - token_custom_type--token_custom_type
    - tour--tour
    - user_role--user_role
    - view--view
    - vote_type--vote_type
    - webform--webform
    - webform_options--webform_options
    - workflow--workflow
    non_200:
      contact_message--feedback: 405
      contact_message--personal: 405
      node--event: 503
      token_custom--custom: 503
      user--user: 503
  write_surface:
    probe: POST https://www.eac.gov/jsonapi/node/article
    http_status: 405
    detail: JSON:API is configured to accept only read operations.
  response_headers_observed:
  - 'x-generator: Drupal 10'
  - 'cache-control: max-age=31536000, public'
  - etag
  - last-modified
  - x-drupal-cache
  - x-request-id
  - 'server: cloudflare'
  - 'via: varnish'
  rate_limit_headers_observed: []
tags:
- name: block
  description: Theme block placements.
- name: block_content
  description: Reusable content blocks.
- name: contact_form
  description: Contact form definitions.
- name: date_format
  description: Site date format configuration.
- name: file
  description: File entities backing media items.
- name: media
  description: Media entities — documents (PDF reports, certifications, test reports), images and remote
    video.
- name: media_type
  description: Media bundle definitions.
- name: menu
  description: Site menus.
- name: node
  description: Content nodes — the EAC's substantive records (voting systems, manufacturers, test labs,
    NVRA, grants, news, FAQs).
- name: node_type
  description: Node bundle definitions.
- name: paragraph
  description: Layout paragraph components composing EAC landing pages.
- name: paragraphs_type
  description: Paragraph bundle definitions.
- name: search_page
  description: Search page configuration.
- name: taxonomy_term
  description: Controlled vocabularies the EAC maintains — states, certification statuses, manufacturer
    types, test lab statuses, document and news categories.
paths:
  /:
    get:
      operationId: getResourceIndex
      summary: JSON:API resource-type index
      tags:
      - node
      description: 'The JSON:API entry point. Returns a `links` map of every advertised resource type
        in `entity--bundle` form. Probed 2026-09-06: HTTP 200, application/vnd.api+json, 21878 bytes,
        215 resource-type link relations.'
      responses:
        '200':
          description: Resource-type index document
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndexDocument'
  /block/block:
    get:
      operationId: listBlockBlock
      summary: List block--block resources
      tags:
      - block
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/block/block?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /block/block/{id}:
    get:
      operationId: getBlockBlock
      summary: Get one block--block resource by UUID
      tags:
      - block
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block_content/basic:
    get:
      operationId: listBlockContentBasic
      summary: List block_content--basic resources
      tags:
      - block_content
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/block_content/basic?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /block_content/basic/{id}:
    get:
      operationId: getBlockContentBasic
      summary: Get one block_content--basic resource by UUID
      tags:
      - block_content
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block_content/card:
    get:
      operationId: listBlockContentCard
      summary: List block_content--card resources
      tags:
      - block_content
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/block_content/card?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /block_content/card/{id}:
    get:
      operationId: getBlockContentCard
      summary: Get one block_content--card resource by UUID
      tags:
      - block_content
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block_content/cta:
    get:
      operationId: listBlockContentCta
      summary: List block_content--cta resources
      tags:
      - block_content
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/block_content/cta?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /block_content/cta/{id}:
    get:
      operationId: getBlockContentCta
      summary: Get one block_content--cta resource by UUID
      tags:
      - block_content
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block_content/link_list:
    get:
      operationId: listBlockContentLinkList
      summary: List block_content--link_list resources
      tags:
      - block_content
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/block_content/link_list?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /block_content/link_list/{id}:
    get:
      operationId: getBlockContentLinkList
      summary: Get one block_content--link_list resource by UUID
      tags:
      - block_content
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact_form/contact_form:
    get:
      operationId: listContactFormContactForm
      summary: List contact_form--contact_form resources
      tags:
      - contact_form
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/contact_form/contact_form?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /contact_form/contact_form/{id}:
    get:
      operationId: getContactFormContactForm
      summary: Get one contact_form--contact_form resource by UUID
      tags:
      - contact_form
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /date_format/date_format:
    get:
      operationId: listDateFormatDateFormat
      summary: List date_format--date_format resources
      tags:
      - date_format
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/date_format/date_format?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /date_format/date_format/{id}:
    get:
      operationId: getDateFormatDateFormat
      summary: Get one date_format--date_format resource by UUID
      tags:
      - date_format
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /file/file:
    get:
      operationId: listFileFile
      summary: List file--file resources
      tags:
      - file
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/file/file?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /file/file/{id}:
    get:
      operationId: getFileFile
      summary: Get one file--file resource by UUID
      tags:
      - file
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /media/document:
    get:
      operationId: listMediaDocument
      summary: List media--document resources
      tags:
      - media
      description: 'Document media — the PDF and Office files behind certifications, test reports, studies
        and guidance.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/media/document?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__mid
        - drupal_internal__vid
        - field_archived
        - field_body
        - field_eco
        - field_event
        - field_featured
        - field_key_findings
        - field_library
        - field_new_window
        - field_post_date
        - langcode
        - metatag
        - name
        - path
        - revision_created
        - revision_translation_affected
        - status
        relationships:
        - bundle
        - field_document_category
        - field_keywords
        - field_media_category
        - field_media_document
        - field_related_events
        - field_related_videos
        - revision_user
        - thumbnail
        - uid
  /media/document/{id}:
    get:
      operationId: getMediaDocument
      summary: Get one media--document resource by UUID
      tags:
      - media
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /media/image:
    get:
      operationId: listMediaImage
      summary: List media--image resources
      tags:
      - media
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/media/image?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /media/image/{id}:
    get:
      operationId: getMediaImage
      summary: Get one media--image resource by UUID
      tags:
      - media
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /media/remote_video:
    get:
      operationId: listMediaRemoteVideo
      summary: List media--remote_video resources
      tags:
      - media
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/media/remote_video?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /media/remote_video/{id}:
    get:
      operationId: getMediaRemoteVideo
      summary: Get one media--remote_video resource by UUID
      tags:
      - media
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /media_type/media_type:
    get:
      operationId: listMediaTypeMediaType
      summary: List media_type--media_type resources
      tags:
      - media_type
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/media_type/media_type?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /media_type/media_type/{id}:
    get:
      operationId: getMediaTypeMediaType
      summary: Get one media_type--media_type resource by UUID
      tags:
      - media_type
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /menu/menu:
    get:
      operationId: listMenuMenu
      summary: List menu--menu resources
      tags:
      - menu
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/menu/menu?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /menu/menu/{id}:
    get:
      operationId: getMenuMenu
      summary: Get one menu--menu resource by UUID
      tags:
      - menu
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/article:
    get:
      operationId: listNodeArticle
      summary: List node--article resources
      tags:
      - node
      description: 'EAC news, blog posts and press releases.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 495 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/article?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_alert
        - field_archived
        - field_contact_name
        - field_date
        - field_email
        - field_emergency
        - field_front_page_featured
        - field_is_active
        - field_is_featured
        - field_original_alias
        - field_phone
        - field_post_date
        - field_reaction
        - field_show_post_date
        - field_spotlight
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_article_type
        - field_blog_topic
        - field_document
        - field_document_media
        - field_image
        - field_keyword_tags
        - field_news_category_term
        - field_person
        - field_tags
        - field_thumbnail
        - node_type
        - revision_uid
        - uid
  /node/article/{id}:
    get:
      operationId: getNodeArticle
      summary: Get one node--article resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/clearinghouse_awards:
    get:
      operationId: listNodeClearinghouseAwards
      summary: List node--clearinghouse_awards resources
      tags:
      - node
      description: 'Clearinghouse Award (Clearie) entries — program title, summary, year, category, awarding
        office and state.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 561 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/clearinghouse_awards?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_link
        - field_program_summary
        - field_program_title
        - field_unique_hash
        - field_year
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_award
        - field_ch_category
        - field_ch_state
        - field_office
        - node_type
        - revision_uid
        - uid
  /node/clearinghouse_awards/{id}:
    get:
      operationId: getNodeClearinghouseAwards
      summary: Get one node--clearinghouse_awards resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/competencies_wheel:
    get:
      operationId: listNodeCompetenciesWheel
      summary: List node--competencies_wheel resources
      tags:
      - node
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/competencies_wheel?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_title_override
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_competencies_category
        - node_type
        - revision_uid
        - uid
  /node/competencies_wheel/{id}:
    get:
      operationId: getNodeCompetenciesWheel
      summary: Get one node--competencies_wheel resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/engineering_change_order:
    get:
      operationId: listNodeEngineeringChangeOrder
      summary: List node--engineering_change_order resources
      tags:
      - node
      description: 'Engineering Change Orders filed against certified systems — submitted, VSTL-approved
        and EAC-approved dates, impacted device, and the EAC approver.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 275 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/engineering_change_order?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_date_approved_by_eac
        - field_date_approved_by_vstl
        - field_date_submitted_by_manufact
        - field_eac_approver
        - field_impacted_device_system
        - field_short_description_of_chang
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - feeds_item
        - field_additional_documentation
        - field_manufacturer
        - field_testing_lab
        - node_type
        - revision_uid
        - uid
  /node/engineering_change_order/{id}:
    get:
      operationId: getNodeEngineeringChangeOrder
      summary: Get one node--engineering_change_order resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/es_funds:
    get:
      operationId: listNodeEsFunds
      summary: List node--es_funds resources
      tags:
      - node
      description: 'HAVA Election Security grant reporting by state — request letters, state narratives
        and financial reports by fiscal year.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 56 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/es_funds?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_financial_report_f20_semi
        - field_financial_report_final
        - field_financial_report_fy18
        - field_financial_report_fy19
        - field_financial_report_fy20
        - field_financial_report_fy21
        - field_financial_report_fy21_semi
        - field_financial_report_fy22
        - field_financial_report_fy22_semi
        - field_financial_report_fy23
        - field_financial_report_fy23_q1
        - field_financial_report_fy23_q3
        - field_financial_report_fy23_semi
        - field_financial_report_fy24
        - field_financial_report_fy24_q1
        - field_financial_report_fy24_q3
        - field_financial_report_fy24_semi
        - field_request_letter_2018
        - field_request_letter_2020
        - field_request_letter_2022
        - field_request_letter_2023
        - field_state_narrative_2018
        - field_state_narrative_2020
        - field_state_narrative_2022
        - field_state_narrative_2023
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - feeds_item
        - field_document_media
        - node_type
        - revision_uid
        - uid
  /node/es_funds/{id}:
    get:
      operationId: getNodeEsFunds
      summary: Get one node--es_funds resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/faqs:
    get:
      operationId: listNodeFaqs
      summary: List node--faqs resources
      tags:
      - node
      description: 'EAC frequently asked questions with category, subcategory, section and tags.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 378 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/faqs?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_published_date
        - field_question
        - field_reaction
        - field_sort_order
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_eac_test_faq
        - field_faq_category
        - field_faq_sections
        - field_faq_subcategory
        - field_faq_tags
        - node_type
        - revision_uid
        - uid
  /node/faqs/{id}:
    get:
      operationId: getNodeFaqs
      summary: Get one node--faqs resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/landing_page:
    get:
      operationId: listNodeLandingPage
      summary: List node--landing_page resources
      tags:
      - node
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/landing_page?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /node/landing_page/{id}:
    get:
      operationId: getNodeLandingPage
      summary: Get one node--landing_page resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/manufacturer:
    get:
      operationId: listNodeManufacturer
      summary: List node--manufacturer resources
      tags:
      - node
      description: 'Voting system manufacturers registered with the EAC, with application, approval, withdrawal
        and termination dates, manufacturer code and type.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 20 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/manufacturer?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_address
        - field_city
        - field_code
        - field_company_url
        - field_job_title
        - field_manufacturer_application_d
        - field_manufacturer_approval_date
        - field_manufacturer_contact
        - field_manufacturer_withdrawal_da
        - field_mtd
        - field_short_title
        - field_zip_code_str
        - field_zipcode
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_document
        - field_manufacturer_application
        - field_manufacturer_approval
        - field_manufacturer_terminated
        - field_manufacturer_type
        - field_manufacturer_withdrawal
        - field_state
        - node_type
        - revision_uid
        - uid
  /node/manufacturer/{id}:
    get:
      operationId: getNodeManufacturer
      summary: Get one node--manufacturer resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/notice_of_clarification:
    get:
      operationId: listNodeNoticeOfClarification
      summary: List node--notice_of_clarification resources
      tags:
      - node
      description: 'Notices of Clarification issued against the certification manual and VSTL programme
        manual, by topic, year and manual section.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 27 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/notice_of_clarification?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_date_noc
        - field_description
        - field_noc_topic
        - field_section_of_cert_manual
        - field_section_of_vstl
        - field_year_noc
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - feeds_item
        - field_file
        - field_media
        - node_type
        - revision_uid
        - uid
  /node/notice_of_clarification/{id}:
    get:
      operationId: getNodeNoticeOfClarification
      summary: Get one node--notice_of_clarification resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/nvra:
    get:
      operationId: listNodeNvra
      summary: List node--nvra resources
      tags:
      - node
      description: 'National Voter Registration Act state pages, keyed to a state and the languages the
        NVRA form is supported in.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 155 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/nvra?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_state
        - field_supported_language
        - node_type
        - revision_uid
        - uid
  /node/nvra/{id}:
    get:
      operationId: getNodeNvra
      summary: Get one node--nvra resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/page:
    get:
      operationId: listNodePage
      summary: List node--page resources
      tags:
      - node
      description: 'General EAC website pages.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/page?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /node/page/{id}:
    get:
      operationId: getNodePage
      summary: Get one node--page resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/register_vote_and_contact_state:
    get:
      operationId: listNodeRegisterVoteAndContactState
      summary: List node--register_vote_and_contact_state resources
      tags:
      - node
      description: 'Per-state registration and voting how-to: up to five upcoming elections with election
        and registration-deadline dates, registration and polling-place lookup links, the state election
        office website, and phone numbers.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 56 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/register_vote_and_contact_state?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_absentee_mail_and_or_early
        - field_additional_information
        - field_election_1
        - field_election_1_election_date
        - field_election_1_registration_de
        - field_election_2
        - field_election_2_election_date
        - field_election_2_registration_de
        - field_election_3
        - field_election_3_election_date
        - field_election_3_registration_de
        - field_election_4
        - field_election_4_election_date
        - field_election_4_registration_de
        - field_election_5
        - field_election_5_election_date
        - field_election_5_registration_de
        - field_link_for_register_to_vote
        - field_phone_1_800_number
        - field_phone_number
        - field_polling_place_lookup
        - field_registration_lookup
        - field_state_election_office_webs
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - feeds_item
        - node_type
        - revision_uid
        - uid
  /node/register_vote_and_contact_state/{id}:
    get:
      operationId: getNodeRegisterVoteAndContactState
      summary: Get one node--register_vote_and_contact_state resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/state_election_information:
    get:
      operationId: listNodeStateElectionInformation
      summary: List node--state_election_information resources
      tags:
      - node
      description: 'Per-state election information records with online voter registration status and information
        options.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 113 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/state_election_information?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_information_option
        - field_ovr_status
        - field_state
        - node_type
        - revision_uid
        - uid
  /node/state_election_information/{id}:
    get:
      operationId: getNodeStateElectionInformation
      summary: Get one node--state_election_information resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/state_funds:
    get:
      operationId: listNodeStateFunds
      summary: List node--state_funds resources
      tags:
      - node
      description: 'HAVA state grant financial records — total award, federal share, state 20% match,
        request letters, 20-day and periodic financial reports.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 56 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/state_funds?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_20_day_reports
        - field_20_day_reports_2
        - field_20_day_reports_3
        - field_20_day_reports_4
        - field_20_day_reports_5
        - field__dec_financial_report
        - field__total_payment
        - field_cares_funds_request_letter
        - field_federal_share
        - field_financial_report_f20_semi
        - field_financial_report_final
        - field_financial_report_fy20
        - field_financial_report_fy21
        - field_financial_report_fy21_semi
        - field_financial_report_fy22
        - field_financial_report_fy22_semi
        - field_request_letter
        - field_state_share_20_percent
        - field_total_award
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - feeds_item
        - node_type
        - revision_uid
        - uid
  /node/state_funds/{id}:
    get:
      operationId: getNodeStateFunds
      summary: Get one node--state_funds resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/testing_standard:
    get:
      operationId: listNodeTestingStandard
      summary: List node--testing_standard resources
      tags:
      - node
      description: 'The Voluntary Voting System Guidelines versions systems are tested against, with the
        guideline and interpretation documents.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 5 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/testing_standard?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_sort_order
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_guideline
        - field_guideline_media
        - field_interpretation
        - field_interpretation_media
        - node_type
        - revision_uid
        - uid
  /node/testing_standard/{id}:
    get:
      operationId: getNodeTestingStandard
      summary: Get one node--testing_standard resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/video:
    get:
      operationId: listNodeVideo
      summary: List node--video resources
      tags:
      - node
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/video?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
  /node/video/{id}:
    get:
      operationId: getNodeVideo
      summary: Get one node--video resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/voting_system:
    get:
      operationId: listNodeVotingSystem
      summary: List node--voting_system resources
      tags:
      - node
      description: 'Voting systems that have entered, completed or been withdrawn from the EAC certification
        programme, with certification and termination dates, version, testing status and links to the
        manufacturer, test lab, testing standard and every certification, test report, advisory notice
        and correspondence document.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 117 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/voting_system?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_application_accepted_date
        - field_certification_date
        - field_terminated_date
        - field_testing_application_date
        - field_testing_status
        - field_version
        - field_withdrawn_decertified_date
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_advisory_notice
        - field_advisory_notice_media
        - field_certification
        - field_certification_media
        - field_certification_status
        - field_correspondence
        - field_correspondence_media
        - field_manufacturer
        - field_product
        - field_termination_document
        - field_termination_document_media
        - field_test_report
        - field_test_report_media
        - field_testing_documents
        - field_testing_documents_media
        - field_testing_lab
        - field_testing_standard
        - field_withdrawn_document
        - field_withdrawn_document_media
        - node_type
        - revision_uid
        - uid
  /node/voting_system/{id}:
    get:
      operationId: getNodeVotingSystem
      summary: Get one node--voting_system resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/voting_system_test_lab:
    get:
      operationId: listNodeVotingSystemTestLab
      summary: List node--voting_system_test_lab resources
      tags:
      - node
      description: 'Voting System Test Laboratories accredited by the EAC, with address, contact role,
        filing date and accreditation status.


        Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one resource object
        returned. Full pagination walk on that date counted 8 resource objects.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://www.eac.gov/jsonapi/node/voting_system_test_lab?page[limit]=1
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-06'
      x-observed-fields:
        attributes:
        - body
        - changed
        - created
        - default_langcode
        - drupal_internal__nid
        - drupal_internal__vid
        - field_address
        - field_city
        - field_company_url
        - field_file_date
        - field_job_title
        - field_phone
        - field_test_lab_contact
        - field_zip_code_str
        - field_zipcode
        - langcode
        - metatag
        - path
        - promote
        - revision_timestamp
        - revision_translation_affected
        - rh_action
        - rh_redirect
        - rh_redirect_fallback_action
        - rh_redirect_response
        - status
        - sticky
        - title
        relationships:
        - field_document
        - field_document_media
        - field_state
        - field_status
        - node_type
        - revision_uid
        - uid
  /node/voting_system_test_lab/{id}:
    get:
      operationId: getNodeVotingSystemTestLab
      summary: Get one node--voting_system_test_lab resource by UUID
      tags:
      - node
      description: Returns a single resource object. Individual reads were verified on 2026-09-06 against
        `node--voting_system`; the route exists for every collection above. An unknown UUID returns HTTP
        404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node_type/node_type:
    get:
      operationId: listNodeTypeNodeType
      summary: List node_type--node_type resources
      tags:
      - node_type
      description: 'Probed anonymously 2026-09-06: HTTP 200, `application/vnd.api+json`, at least one
        resource object returned.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
[...]
